{
	"parser": "@typescript-eslint/parser",
	"plugins": ["solid", "testing-library"],
	"extends": ["eslint:recommended", "plugin:solid/typescript", "plugin:vitest-globals/recommended"],
	"env": {
		"vitest-globals/env": true
	}
}
